body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

.row{
    margin: 25px;
}

.grid-bgImage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    display: grid;
    grid-template-columns: 25fr 30fr 40fr 15fr;
    grid-template-rows: 20fr 45fr 5fr 30fr;
    grid-gap: 20px;
    
}

.item_img{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.containerTxt {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-20%,-25%);
    width: 100%; 
}
.containerTxt span{
    margin-left: 25px;
    display: block;
    text-transform: lowercase;
}

.text1{
    color:rgb(204, 1, 107);
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 4px;
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 25px;
    font-weight: 900;
    color: rgb(0, 147, 211);
}

@keyframes text {
    0%{
        color:rgb(255, 241, 13);
        margin-bottom: -40px;

    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40;

    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@-webkit-keyframes text {
    0%{
        color:#003E00;
        margin-bottom: -40px;

    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40;

    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

/* Styling ABOUT */
.context {
    width: 50%;
    position: absolute;
    top:15vh;
    
}

.context h1{
    text-align: right;
    color:rgb(0, 147, 211);
    font-size: 70px;
}

.context img1{
    text-align: center;
    color:rgb(0, 147, 211);
    font-size: 50px;
}

.area{
    background: #ececea;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:70vh;
       
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 70%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(98, 99, 102, 0.541);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@-webkit-keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



.imgBx-fluid{
    display: block;
    position: relative;
    margin-left: inherit;
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 5%;
    
}

.imgBx-fluid img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    transition: 2s;
    pointer-events: none;
}

.imgBx-fluid:hover img:nth-child(2){
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50%) scaleX(2);
}

.imgBx-fluid img:nth-child(1){
    opacity: 0;
    filter: blur(10px);
    transform: translateX(50%) scaleX(2);
}

.imgBx-fluid:hover img:nth-child(1){
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%) scaleX(1);
}

.about::after,
.about::before { 
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background: red;
    bottom: -1em;
    z-index: 20;
}

.about::before{
    right: 50%;
    transform: skew(0, 20deg);
}

.about::after{
    left: 50%;
    transform: skew(0, -20deg);
}

/* Styling RESUMEN */

.letterRamd{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: default;
	align-items: flex-start;
}
.letter{
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}



/* Styling Contact */

.one {
    background: #ececea;
    position:relative;
    padding: 30vh 0;
}
.vertical {
    height: 25vh;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.abcd {
    min-width: 3em;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  display: block;
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 6vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid rgb(0, 147, 211);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #CC016B;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}