body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    
}

.row{
    margin: 25px;
}

.grid-bgImage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    display: grid;
    grid-template-columns: 25fr 30fr 40fr 15fr;
    grid-template-rows: 20fr 45fr 5fr 30fr;
    grid-gap: 20px;
    
}

.item_img{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.containerTxt {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-20%,-25%);
    width: 100%; 
}
.containerTxt span{
    margin-left: 25px;
    display: block;
    text-transform: lowercase;
}

.text1{
    color:rgb(204, 1, 107);
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 4px;
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 25px;
    font-weight: 900;
    color: rgb(0, 147, 211);
}

@keyframes text {
    0%{
        color:rgb(255, 241, 13);
        margin-bottom: -40px;

    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40;

    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@-webkit-keyframes text {
    0%{
        color:#003E00;
        margin-bottom: -40px;

    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40;

    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

/* Styling ABOUT */
.area{
    background: #ececea;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:70vh;
       
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 70%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(98, 99, 102, 0.541);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@-webkit-keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



.imgBx-fluid{
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 5%;
    top: 50%;
    left: 80%;
    transform: translateX(-50%) translateY(-50%);
}

.imgBx-fluid img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    transition: 2s;
    pointer-events: none;
    border-radius: 5%;
}

.imgBx-fluid:hover img:nth-child(2){
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50%) scaleX(2);
    border-radius: 5%;
}

.imgBx-fluid img:nth-child(1){
    opacity: 0;
    filter: blur(10px);
    transform: translateX(50%) scaleX(2);
    border-radius: 5%;
}

.imgBx-fluid:hover img:nth-child(1){
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%) scaleX(1);
    border-radius: 5%;
}

@keyframes tipsy {
    10 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

@-webkit-keyframes tipsy {
    0 {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}


  
.aboutMe {
    color: black;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 60px;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    padding: inherit;
}
  
.aboutMe:before,
.aboutMe:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    -webkit-animation:10s infinite alternate ease-in-out tipsy;
    animation: 10s infinite alternate ease-in-out tipsy;
}
  
.aboutMe:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
}
  
.aboutMe:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  } transform: skew(0, -20deg);
}

.title {
 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}


.card-title{
    color: #d9524a;
    font: size 45px;
}

.container .jumbotron {
    padding-left: 60px;
}

.jumbotron h4{
    color: #d9524a;
    font: size 45px;
}

.quote-card {
    background: #fff;
    color: #222222;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    min-height: 120px;
  }
  .quote-card p {
    font-size: 30px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
  }
  .quote-card cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
  }
  .quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }
  .quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }
  @media (max-width: 640px) {
    .quote-card:after {
      font-size: 22em;
      right: -25px;
    }
  }
    
  .quote-card.red-card {
    background: #F61E32;
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
  }
  .quote-card.red-card:before, .quote-card.red-card:after {
    color:#F65665 ;
  }
  
 
.progreBars{
    margin-left: 350px;
}

.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 10px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}
.progress:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}
.progress.orange:before{ border: 7px solid #fe3b3b; }
.progress.blue:before{ border: 7px solid #C14F7C; }
.progress.green:before{ border: 7px solid #ee708b; }
.progress.purple:before{ border: 7px solid #FFBDEC; }
.progress.orange .progress-value{
    border: 5px solid #fe3b3b;
    color: #fe3b3b;
}
.progress.blue .progress-value{
    border: 5px solid #C14F7C;
    color: #C14F7C;
}
.progress.green .progress-value{
    border: 5px solid #ee708b;
    color: #ee708b;
}
.progress.purple .progress-value{
    border: 5px solid #FFBDEC;
    color: #FFBDEC;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}


/* Styling RESUMEN */

.letterRamd{
    margin: 0 25px;
	line-height: .10;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
    width: 100%;
    height: 20vh;
    font-size: 30px;
	display: flex;
	justify-content: default;
	align-items: flex-start;
    padding: 25px;
}
.letter{
	display: inline-flex;
	height: 50px;
	width: 47px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}


@-webkit-keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@-webkit-keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}

.work{
    background-color: #f7f7f7;
}

.education{
    position: relative;
    margin-bottom: 100px;
}

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #506EF7;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #506EF7;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    color: #81574F;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}

#accordion6 .panel{
    border: 1px solid #bf6026;
    border-radius: 0;
    box-shadow: none;
    margin-left: 50px;
    margin-bottom: 12px;
}
 
#accordion6 .panel-heading{
    padding: 0;
    background: #fff;
    position: relative;
}
#accordion6 .panel-heading:before,
#accordion6 .panel-heading:after{
    content: "";
    border-right: 8px solid #bf6026;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    top: 12px;
    left: -9px;
}
#accordion6 .panel-heading:after{
    border-right: 7px solid #fff;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    position: absolute;
    top: 13px;
    left: -6px;
}
#accordion6 .panel-title a{
    display: block;
    padding: 3px 20px 3px 20px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: #bf6026;
    position: relative;
    background: #f1f1f2;
}
#accordion6 .panel-title a:before,
#accordion6 .panel-title a.collapsed:before{
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #bf6026;
    text-align: center;
    border: 1px solid #bf6026;
    position: absolute;
    top: 0;
    left: -50px;
    transition: all 0.5s ease 0s;
}
#accordion6 .panel-title a.collapsed:before{ content: "\f067"; }
#accordion6 .panel-body{
    padding: 0 15px 15px;
    border: none;
    font-size: 14px;
    color: #807e7e;
    line-height: 28px;
}
#accordion6 .panel-body p{ margin-bottom: 0; }

/* Styling Contact */

.one {
    background: #ececea;
    position:relative;
    padding: 30vh 0;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
@-webkit-keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
.animated-title {
  display: block;
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 6vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid rgb(13, 202, 240);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #CC016B;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

/* STAYLING FOOTER */

.vertical {
    height: 25vh;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.abcd {
    min-width: 3em;
}

.copyright {
    background-color: #f0f0f0;
}

.copyright p {
   margin: 15px 0px 50px;
}



footer .menu li a {
	color:#222222;
	padding:10px;
	text-decoration:none;
}

footer .menu li a:hover {
	color:#7dabdb;
}

.fa.fa-facebook , 
.fa.fa-twitter, 
.fa.fa-instagram ,  
.fa.fa-linkedin {
	color: #b1aca1;
	font-size: 20px;
	padding: 10px;
}

.fa.fa-facebook:hover, 
.fa.fa-twitter:hover,
.fa.fa-instagram:hover, 
.fa.fa-linkedin:hover {
	color: #6794c2;
}
