body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

.row{
    margin: 25px;
}

.grid-bgImage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:black;
    display: grid;
    grid-template-columns: 25fr 30fr 40fr 15fr;
    grid-template-rows: 20fr 45fr 5fr 30fr;
    grid-gap: 20px;
    
}

.item_img{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.containerTxt {
    text-align: left;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-20%,-25%);
    width: 100%; 
}
.containerTxt span{
    margin-left: 25px;
    display: block;
    text-transform: lowercase;
}

.text1{
    color:rgb(204, 1, 107);
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 4px;
    position: relative;
    animation: text 3s 1;
}

.text2{
    font-size: 25px;
    font-weight: 900;
    color: rgb(0, 147, 211);
}

@keyframes text {
    0%{
        color:rgb(255, 241, 13);
        margin-bottom: -40px;

    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40;

    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@-webkit-keyframes text {
    0%{
        color:#003E00;
        margin-bottom: -40px;

    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40;

    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

/* Styling ABOUT */
.section{
    padding: 30vh 0;
}

.about{
    background-color: #FFC145;
    position: relative;
 }


.imgBx-fluid{
    display: inline-flexbox;
    position: relative;
    margin-left: inherit;
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

.imgBx-fluid img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    transition: 2s;
    pointer-events: none;
}

.imgBx-fluid:hover img:nth-child(2){
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50%) scaleX(2);
}

.imgBx-fluid img:nth-child(1){
    opacity: 0;
    filter: blur(10px);
    transform: translateX(50%) scaleX(2);
}

.imgBx-fluid:hover img:nth-child(1){
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%) scaleX(1);
}

.about::after,
.about::before { 
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background: red;
    bottom: -1em;
    z-index: 20;
}

.about::before{
    right: 50%;
    transform: skew(0, 20deg);
}

.about::after{
    left: 50%;
    transform: skew(0, -20deg);
}

/* Styling RESUMEN */

.letterRamd{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: default;
	align-items: flex-start;
}
.letter{
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; }
}



/* Styling Contact */

.one {
    background: #ececea;
    position:relative;
    padding: 30vh 0;
}
.vertical {
    height: 25vh;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.abcd {
    min-width: 3em;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  display: block;
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 6vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid rgb(0, 147, 211);
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #CC016B;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}